---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2024 - actualidad",
    title: "Desarrollador Full Stack",
    company: "Glofy LLC",
    description:
      "Utilizando un conjunto avanzado de tecnologías para desarrollar aplicaciones web escalables: MERN Stack (MongoDB, Express, React y Node.js), AWS (S3 y EC2), Docker, Control de Versiones (Bitbucket y GitHub), OpenIA, Omeka, Vufind, Koha.",
  },
  {
    date: "2023 - 2024",
    title: "Desarrollador Full Stack",
    company: "Waia",
    description:
      "Desarrollo de aplicaciones a demanda con un conjunto avanzado de tecnologías: MERN Stack (MongoDB, Express, React y Node.js), NextJS, Aplicaciones mobiles (React Native), AWS (S3, ECS y App Runner), Digital Ocean, Docker, Control de Versiones (Bitbucket), Omeka, Vufind, Koha.",
  },
  {
    date: "2022 - 2023",
    title: "Tech Lead",
    company: "Terragene",
    description:
      "Equipo conformado por 4 personas. Tecnologias: ReactJS, React Native, NodeJS, Express, Docker, AWS (S3, EC2) Gestion con Jira aplicando la metodologia scrum.",
  },
  {
    date: "2020 - 2022",
    title: "Desarrollador Full Stack",
    company: "Terragene",
    description:
      "Desarrollador de aplicaciones mobiles con React Native, NodeJS, Express, Docker, AWS. (S3, EC2) Mantenimiento de sitio web desarrollado con React JS.",
  },
  {
    date: "2018 - 2020",
    title: "Analista en Infraestructura",
    company: "Terragene",
    description:
      "Asistencia, soporte y resolución de tickets reportados por usuarios. Documentación de las soluciones implementadas. Configuración y mantenimiento de equipos en red informática. Reparación y mantenimiento de impresoras.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
